* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ff5f47, #ffcc00);
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

input:focus {
  border-color: dodgerblue;
}

.suggestions {
  position: relative; /* Changed to enable absolute positioning of suggestions */
  display: none; /* Initially hidden */
}

ul {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Make suggestions appear below the input */
  width: 100%; /* Make suggestions width match input */
  z-index: 10; /* Keep suggestions on top */
}

ul.has-suggestions {
  display: block; /* Show suggestions when there are results */
}

ul li {
  padding: 10px;
  cursor: pointer; /* Change cursor on hover */
}

ul li:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
